server:
  port: 8761
  
spring:
  profiles:
    active: dev
  application:
    name: FireRegistrationCenter
  security:
    user:
      name: fire
      password: huo

eureka:
  enabled: true
  instance:
    prefer-ip-address: true
    leaseRenewalIntervalInSeconds: 10 #定期心跳
  client:
    enabled: true
    healthcheck:
      enabled: true
    registerWithEureka: true
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://fire:huo@registrationcenter.fire.com:8761/eureka
  server:
    enable-self-preservation: false
    peer-node-read-timeout-ms: 3000
  environment: fire


logging:
  level:
    root: info
  file:
    name: /opt/fire/registration-center/logs/log.log
    path: /opt/fire/registration-center/logs
